.container {
    max-width: 1200px;
    margin-top: 5px;
    padding: 0 1rem;
}

.section-title {
    text-align: center;
    margin-bottom: 2rem;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.custom-card {
    width: 18rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.custom-card img {
    width: 100%;
    height: 190.66px;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
}

.custom-card-body {
    padding: 16px;
}

.custom-card .btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #0d6efd;
    color: white;
}

.custom-card .btn:hover {
    background-color: #0d5ed7;
}